<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.club_management.mapper.ClubMapper">

    <select id="getClubTypes" resultType="string">
        SELECT CAST(COLUMN_TYPE AS CHAR)
        FROM information_schema.COLUMNS
        WHERE TABLE_NAME = 'club'
          AND COLUMN_NAME = 'type';
    </select>
</mapper>
